{% extends 'blog/base.html' %}

{% block container %}

<div class="container my-3">
    <form action="" method="POST">
        {% csrf_token %}
    <div class="row">
        <div class="col-3">
            <div class="card ">
                <div class="card-body bg-light">
                    <div class="form-group">
                        {{ post_forms.category.label_tag }}
                        {{ post_forms.category }}
                    </div>
                    <div class="form-group">
                        {{ post_forms.tag.label_tag }}
                        {{ post_forms.tag }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="card">
                <div class="card-body bg-light">
                    <div class="form-group">
                        {{ post_forms.title.label_tag }}
                        {{ post_forms.title }}
                    </div>
                    <div class="form-group">
                        {{ post_forms.abstract.label_tag }}
                        {{ post_forms.abstract }}
                    </div>
                    <div class="form-group">
                        {{ post_forms.content.label_tag }}
                        {{ post_forms.media }}
                        {{ post_forms.content }}
                        
                    </div>
                    <div class="form-group">
                        {% if delete_update %}
                        <button class="btn btn-primary hvr-icon-bob" type="submit">
                            <i class="fas fa-newspaper hvr-icon"></i>
                            更新文章
                        </button>
                        <button name="delete_post" value="True" class="float-right btn btn-sm btn-danger hvr-icon-wobble-horizontal" type="submit">
                            <i class="fas fa-skull-crossbones hvr-icon"></i>
                            删除文章
                        </button>
                        {% else %}
                        <button class="btn btn-primary hvr-icon-bob" type="submit">
                            <i class="fas fa-newspaper hvr-icon"></i>
                            发表文章
                        </button>
                        {% endif %}

                        
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
    </form>
    
</div>

<hr />

{% endblock %}